In [1]:
# Import dependencies
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read in the CSV file with the merged dataset
merged_df = pd.read_csv("data_sources/merged_data.csv", encoding='utf-8')
merged_df

,country,year,suicide_count,population,suicide_rate (%),health_expenditure
0,Albania,2000,54.0,2796300.0,0.001931,..
1,Albania,2001,119.0,2799349.0,0.004251,..
2,Albania,2002,133.0,2818839.0,0.004718,..
3,Albania,2003,124.0,2843929.0,0.004360,..
4,Albania,2004,146.0,2874991.0,0.005078,..
...,...,...,...,...,...,...
1532,Virgin Islands (USA),2009,9.0,98960.0,0.009095,NaN
1533,Virgin Islands (USA),2010,8.0,98658.0,0.008109,NaN
1534,Virgin Islands (USA),2011,8.0,98290.0,0.008139,NaN
1535,Virgin Islands (USA),2012,10.0,98069.0,0.010197,NaN
1536,Virgin Islands (USA),2015,3.0,97951.0,0.003063,NaN

In [3]:
# Find '..' values - not nulls but also useless - remove them
dots = merged_df.loc[merged_df["health_expenditure"] == ".."].index
merged_df.drop(dots, inplace=True)

# Drop null values from the dataset
merged_df = merged_df.dropna(how='any')

In [4]:
# Change the suicide column to be suicide rate per 100,000 people
merged_df["suicide_rate (%)"] = 1000 * merged_df["suicide_rate (%)"]

# Rename the suicide_rate (%) column
merged_df.rename(columns = {'suicide_rate (%)':'number of suicides (per 100,000 people)', 'health_expenditure': 'health expenditure (per capita)'}, inplace = True)

In [5]:
# Show the DataFrame
merged_df

,country,year,suicide_count,population,"number of suicides (per 100,000 people)",health expenditure (per capita)
11,Antigua and Barbuda,2000,2.0,75326.0,2.655126,444.9394226
12,Antigua and Barbuda,2001,2.0,76497.0,2.614482,497.0965881
13,Antigua and Barbuda,2002,0.0,77588.0,0.000000,512.317688
14,Antigua and Barbuda,2003,1.0,78658.0,1.271327,569.6490479
15,Antigua and Barbuda,2004,2.0,79722.0,2.508718,547.8710938
...,...,...,...,...,...,...
1504,Uzbekistan,2010,1464.0,25651783.0,5.707206,76.91677094
1505,Uzbekistan,2011,1640.0,25978049.0,6.313022,89.63848114
1506,Uzbekistan,2012,1835.0,26381830.0,6.955545,106.2389603
1507,Uzbekistan,2013,1950.0,26838924.0,7.265567,116.044548
1508,Uzbekistan,2014,2095.0,27313507.0,7.670198,117.3688278

In [6]:
# Verify dropped rows
merged_df.count()

country                                    1207
year                                       1207
suicide_count                              1207
population                                 1207
number of suicides (per 100,000 people)    1207
health expenditure (per capita)            1207
dtype: int64

In [7]:
# Write the merged clean data into a csv file
merged_df.to_csv("output_data/dataset_complete.csv", index=False)